@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,600&family=Nunito:wght@600&family=Orbitron:wght@600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"nunito",sans-serif;
    font-size: 1.5rem;
    background-color:antiquewhite;
}
.container{
    max-width: 600px;
    min-height: 600px;
    margin-inline: auto;
border:9px solid white;
display: flex;
gap: 1rem;
justify-content:start;
background-color:rgb(1, 1, 40);
flex-flow: column;
margin-top: 60px;
border-radius: 10px;
border-style:double white;


 
}
h1{
   
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin:5px;

}
p{
    margin-top: 8px;
    font-weight: bold;
    color: aliceblue;
    word-spacing: 3px;
}
span{
    color:rgb(25, 208, 25);
}
div{
    margin-top: 50px;
  margin-left: 40px;
}
button{
   
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   width:fit-content;
   margin-left:45px;
   margin-top: 25px;
   border-radius: 5px;
   margin-bottom: 2rem;

    
}
hr{
   margin-left: 40px;
   margin-right: 40px;
    opacity: 0.3;
}

.disp p{
color:#4CAF50;
display: inline-block;
position:relative;
bottom: 50px;
background-color: rgb(67, 66, 66);
width:13rem;
margin-left: 10px;
border-radius: 3px;
text-align: center;

}
.disp p:nth-child(2){
    margin-left: 100px;
}